header{
  background-color: #212d40;
  color: lightblue;
  
}

.whole{
  background-color: #151b25;
}

.title{
  font-family: Anton;
  font-size:xx-large;
}

p-space{
  line-height: 1.8;
}

.row-1{
background-image: url(https://images.squarespace-cdn.com/content/v1/5ece4d07d31f1b069688b063/1594297390005-6HJR2OKTWSD69W9KMOND/highland-cattle-society-9313-cmacg.jpg);
object-fit: cover;
background-size: cover;
background-position: 75% 25% ;
height: 50vh;
color: #212d40;
}


.row-2{
  color: lightblue;
background-color: #212d40;

}

.contacts{
  line-height: 1.8;
}
.row-3{

  background-color: #adb4c0;
  color: lightblue;
}

.card{
  background-color:#d66853;
  width: 350px;
  transform: translateY(20%);
  }
  
 @media screen and (max-width: 768px){
  .card{
    transform: translateY(0%);
  } 


 }
 .cowface{
   object-fit: cover;
   height: 50vh;
   width: 40vh

   /* transform: scaleX(-1); */
   
 }

 .cards{
   background-color: lightblue;
   height: 300px;
   width: 250px;
 }

 .row-4{
   background-color: #212d40;
 }

 .row-5{
   color: lightblue;
   background-color: #212d40;
 }

 footer{
   color: red;
 }